div {
    font-family: Nunito;
}

img {
    border: 1px solid black;
    height: 180px;
    width: 200px;
    border-radius: 10%;
}

td {
    text-align: justify;
    font-weight: 500;
    border-collapse: collapse;
    padding-left: 2px;
}